<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Databases</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}"> 
</head>
<body>
    <h1>Welcome to databases</h1>

    <h2>Here are your access records</h2>

    <div class="djang2">
        {% if access_records %}
            <table>
                <th>Site Name</th>
                <th>Date Accessed</th>

                {% for acc in access_records %}
                <tr>
                    <td>{{ acc.name }}</td>
                    <td>{{ acc.date }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No access</p>
        {%  endif %}
           
    </div>
</body>
</html>